.badge {
  background-color: tomato;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.badge-sm {
  width: 6px;
  height: 6px;
  background-color: tomato;
  border-radius: 50%;
}
